<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/PageSelect</url-pattern>
        <url-pattern>/AdminServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/AdminServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDAO</servlet-name>
        <servlet-class>model.AccountDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>controller.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seat</servlet-name>
        <servlet-class>model.Seat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>controller.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageHome</servlet-name>
        <servlet-class>controller.PageHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAbout</servlet-name>
        <servlet-class>controller.PageAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageContact</servlet-name>
        <servlet-class>controller.PageContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageSchedule</servlet-name>
        <servlet-class>controller.PageSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPage</servlet-name>
        <servlet-class>controller.AccountPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageIntroduce</servlet-name>
        <servlet-class>controller.PageIntroduce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAccount</servlet-name>
        <servlet-class>controller.PageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageSelect</servlet-name>
        <servlet-class>controller.PageSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageSearch</servlet-name>
        <servlet-class>controller.PageSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageSuccessfull</servlet-name>
        <servlet-class>controller.PageSuccessfull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAdmin</servlet-name>
        <servlet-class>controller.PageAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPhoneServlet</servlet-name>
        <servlet-class>controller.CheckPhoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDAO</servlet-name>
        <url-pattern>/AccountDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/CheckUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageHome</servlet-name>
        <url-pattern>/PageHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAbout</servlet-name>
        <url-pattern>/PageAbout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageContact</servlet-name>
        <url-pattern>/PageContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageSchedule</servlet-name>
        <url-pattern>/PageSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageIntroduce</servlet-name>
        <url-pattern>/PageIntroduce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAccount</servlet-name>
        <url-pattern>/PageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageSelect</servlet-name>
        <url-pattern>/PageSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageSearch</servlet-name>
        <url-pattern>/PageSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageSuccessfull</servlet-name>
        <url-pattern>/PageSuccessfull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAdmin</servlet-name>
        <url-pattern>/PageAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageOrder</servlet-name>
        <servlet-class>controller.PageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageUpdateSc</servlet-name>
        <servlet-class>controller.PageUpdateSc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageUpdateM</servlet-name>
        <servlet-class>controller.PageUpdateM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAddM</servlet-name>
        <servlet-class>controller.PageAddM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAddSc</servlet-name>
        <servlet-class>controller.PageAddSc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAdminSc</servlet-name>
        <servlet-class>controller.PageAdminSc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageAdminTest</servlet-name>
        <servlet-class>controller.PageAdminTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageOrder</servlet-name>
        <url-pattern>/PageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageUpdateSc</servlet-name>
        <url-pattern>/PageUpdateSc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageUpdateM</servlet-name>
        <url-pattern>/PageUpdateM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAddM</servlet-name>
        <url-pattern>/PageAddM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAddSc</servlet-name>
        <url-pattern>/PageAddSc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAdminSc</servlet-name>
        <url-pattern>/PageAdminSc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageAdminTest</servlet-name>
        <url-pattern>/PageAdminTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPhoneServlet</servlet-name>
        <url-pattern>/CheckPhoneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
